
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script>
		angular.module("myapp", []).controller("MyController", function ($scope) {
		$scope.showFirstName = function(){
			// Listing 6-8. Coding Defensively | Starts Here.
			// This listing uses the handy angular.isDefined method. 
			// In this version of the showFirstName function, 
			// the result of angular.isDefined($scope.firstName) will be true.
			if(angular.isDefined($scope.firstName)){ 
				alert("Name is: " + $scope.firstName);
			} else{
			// Listing 6-8. Ends Here
				alert("Name is empty, please enter a value");
			}
		}
		});
    </script>
  </head>
  <body>
	<div ng-app="myapp" ng-controller="MyController">
		<form name="theForm">
			<div>
				<input type="text" name="firstName" ng-model="firstName"><br/>
				<input type="button" value="Show first name" ng-click="showFirstName()"/>
			</div>
		</form>
	</div>
  </body>
</html>

